# Anova Test

In [1]:
#Import scipy.stats
from scipy import stats
import pandas as pd

In [2]:
df = pd.read_csv(r"Anova.csv", index_col=0)
df

    Atkins  GM  South Beach
0        6   4            6
1        2   4            7
2        3   5            5
3        4   7            6
4        2   8            8
5        3   5            7
6        3   3            8
7        2   7            9
8        7  10            6
9        8   4            5
10      10   5            5
11       4   2           12

In [3]:
df['GM']

0      4
1      4
2      5
3      7
4      8
5      5
6      3
7      7
8     10
9      4
10     5
11     2
Name: GM, dtype: int64

In [14]:
f , p = stats.f_oneway(*[df[col] for col in df.columns])

In [4]:
f , p = stats.f_oneway(df['Atkins'],df['GM'],df['South Beach'])

In [5]:
p

np.float64(0.03944058879825832)

In [6]:
if p < 0.05:
    print('Reject Null Hypothesis. At least one sample is different.')
else:
    print('Fail to reject Null Hypothesis.')

Reject Null Hypothesis. At least one sample is different.

# Chi-Square test

In [57]:
from scipy.stats import chi2_contingency

In [58]:
df = pd.read_csv('chi2.csv', index_col=0)
df

   Athlete Smoker
0        Y    yes
1        Y    yes
2        Y     no
3        Y     no
4        Y    yes
5        Y     no
6        Y    yes
7        Y     no
8        Y     no
9        Y     no
10       Y     no
11       Y     no
12       Y     no
13       Y     no
14       Y     no
15       Y     no
16       Y     no
17       Y     no
18       N    yes
19       N    yes
20       N    yes
21       N    yes
22       N    yes
23       N    yes
24       N    yes
25       N    yes
26       N    yes
27       N    yes

In [60]:
obs = pd.crosstab(index=df['Athlete'],columns=df['Smoker'])
obs

Smoker   no  yes
Athlete
N         0   10
Y        14    4

In [61]:
obs1 = pd.crosstab(index=df['Smoker'],columns=df['Athlete'])
obs1

Athlete   N   Y
Smoker
no        0  14
yes      10   4

In [65]:
chi2,p,df,exp  = chi2_contingency(obs1)

In [66]:
chi2, df

(np.float64(12.6), 1)

In [67]:
exp

array([[5., 9.],
       [5., 9.]])

In [72]:
p

np.float64(0.00038574675568200776)

In [69]:
if p < 0.05:
    print('Reject Null Hypothesis.Columns are dependent on each other.')
else:
    print('Fail to reject null hypothesis.')

Reject Null Hypothesis.Columns are dependent on each other.

In [70]:
1 - stats.chi2.cdf(12.6,1)

np.float64(0.0003857467556820371)